<div class="product" key={props.id}>
    <div class="product-header">
        <div class="product-title">
            <h1>{{title}}</h1>
            <p>{{console}}</p>
        </div>
        <div class="product-price">
            <p class="product-price-text">${{price}}</p>
        </div>
    </div>
    <div class="product-body">
        <div class="product-img">
            <img src={require(`../../../assets/imgs/${{img}}`)} alt="" />
        </div>
        <button class="product-button" onClick={props.addcart} data-id={{id}}>Add to cart</button>
    </div>
</div>