---
title: Home
---

{{> header.header }}
{{> banner.banner }}

<div class="main">
	{{> titleheader.titleheader }}
	{{> productlist.productlist }}
	<Titleheader title="Products" cart="true" products={this.state.products} total={this.state.total} />
	<ProductList products={this.state.products} addcart={this.addcart} removecart={this.removecart} />

</div>

{{> footer.footer }}