<header>
	<div class="header-left">
		<img class="logo" src="logo.png" alt="LOGO" />
		<nav>
			<ul class="nav-links">
				<li>
					<a class="nav-link">Products</a>
				</li>

			</ul>
		</nav>
	</div>

	<div class="header-right">
		<button id="myBtn" class="login">Login</button>
		
	</div>

</header>